:root {
  --color1: #4283ae;
  --color2: #333750;
  --color3: #17191F;
}

.bg1 {
  background-color: var(--color1);
}
.bg2 {
  background-color: var(--color2);
}
.bgg1 {
  background: var(--color2);
  background: -moz-linear-gradient(left, var(--color2) 0%, #207cca 50%, #2989d8 50%, #207cca 50%, var(--color1) 100%);
  background:-webkit-linear-gradient(left, var(--color2) 0%,#207cca 50%,#2989d8 50%,#207cca 50%, var(--color1) 100%);
  background: linear-gradient(to right, var(--color2) 0%,#207cca 50%,#2989d8 50%,#207cca 50%, var(--color1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color2), endColorstr=var(--color1),GradientType=1 );
  background-size: contain;
}
.bgg2 {
background: var(--color1);
background: -moz-linear-gradient(left, var(--color1) 0%, #207cca 50%, #2989d8 50%, #207cca 50%, var(--color2) 100%);
background:-webkit-linear-gradient(left, var(--color1) 0%,#207cca 50%,#2989d8 50%,#207cca 50%, var(--color2) 100%);
background: linear-gradient(to right, var(--color1) 0%,#207cca 50%,#2989d8 50%,#207cca 50%, var(--color2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );
background-size: contain;
}

.btn {
  border-width: 0;
  background: var(--color2);
  color: white;
}
.btn:hover {
  border-width: 0;
  background: var(--color1);
  color: white;
}
.btn:focus {
  box-shadow: none;
  background: var(--color2);
  color: white;
}

.nav-item:hover {
  color: var(--color2);
  text-decoration: underline;
}


.topbar {
  background: var(--color2);
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

.topbar .contact-info i {
  font-style: normal;
  color: #fff;
  line-height: 0;
}

.topbar .contact-info i a,
.topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

@media (max-width: 575px) {

  .topbar .contact-info i a,
  .topbar .contact-info i span {
    font-size: 13px;
  }
}

.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}


  /*--------------------------------------------------------------
  # Our Clients
  --------------------------------------------------------------*/
  .clients .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .clients .swiper-slide img:hover {
    opacity: 1;
  }
  
  .clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5cb874;
  }
  
  .clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5cb874;
  }
  
  
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
  padding: 30px 20px;
  background: #fff;
}

.team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #919191;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #5cb874;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}


/*--------------------------------------------------------------
# Product Card
--------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  padding: 15px 0;
  transition: 0.3s;
  color: #52565e;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 4px solid #e2e4e6;
}

.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 575px) {
  .features .nav-link h4 {
    font-size: 16px;
  }
}

.features .nav-link:hover {
  color: #feb900;
}

.features .nav-link.active {
  color: #feb900;
  background-color: transparent;
  border-color: #feb900;
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane h3 {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.features .tab-pane h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #feb900;
  left: 0;
  bottom: 0;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-top: 10px;
}

.features .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #feb900;
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Item in Product Card
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #006fbe;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #006fbe;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #006fbe;
}

.about .content .btn-learn-more:hover {
  background: #006fbe;
  color: #fff;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Photos in Product Card
--------------------------------------------------------------*/
.recent-photos {
  overflow: hidden;
}

.recent-photos .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.recent-photos .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #006fbe;
}

.recent-photos .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #006fbe;
}

.recent-photos .owl-nav,
.recent-photos .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.recent-photos .owl-item {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.recent-photos .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #95d3ff !important;
}

.recent-photos .owl-dot.active {
  background-color: #006fbe !important;
}

.recent-photos .gallery-carousel .owl-stage-outer {
  overflow: visible;
}

.recent-photos .gallery-carousel .center {
  border: 6px solid #006fbe;
  margin: -10px;
  box-sizing: content-box;
  padding: 4px;
  background: #fff;
  z-index: 1;
}

