{% extends "layout.html" %}


{% block bodymain %}


<div class="container-flex mx-md-5 mt-4 p-3 bg-white shadow">       
    <h2>Документы и Лицензии</h2>
    <div class="tab-pane fade active show">  
        <div class="row gy-5 text-center">
          <div class="col-lg-4 col-md-6 menu-item">
            <a href="/static/img/company_doc/company_card.jpg" class="glightbox"><img src="/static/img/company_doc/company_card_min.jpg" class="menu-img img-fluid" alt="Карточка предприятия ЭнергГРУПП"></a>
            <p class="ingredients">
              Карточка предприятия
              <a href="/static/doc/contacts.pdf" title="Карточка предприятия ЭнергГРУПП" class="filemanager"> Скачать <em>(pdf)</em></a>
            </p>                    
          </div>
          <div class="col-lg-4 col-md-6 menu-item">
            <a href="/static/img/company_doc/laboratory_certificate.jpg" class="glightbox"><img src="/static/img/company_doc/laboratory_certificate_min.jpg" class="menu-img img-fluid" alt="Свидетельство о регистрации электролаборатории"></a>
            <p class="ingredients">
              Свидетельство о регистрации электролаборатории
            </p>
          </div>
          <div class="col-lg-4 col-md-6 menu-item">
            <a href="/static/img/company_doc/medicine_certificate.jpg" class="glightbox"><img src="/static/img/company_doc/medicine_certificate_min.jpg" class="menu-img img-fluid" alt="Лицензия на осуществление деятельности по производству и обслуживанию медицинской техники"></a>
            <p class="ingredients">
              Лицензия на осуществление деятельности по производству и обслуживанию медицинской техники
            </p>
          </div>
          <div class="col-lg-4 col-md-6 menu-item">
            <a href="/static/img/company_doc/welding_certificate.jpg" class="glightbox"><img src="/static/img/company_doc/welding_certificate_min.jpg" class="menu-img img-fluid" alt="Аттестация технологии сварки"></a>
            <p class="ingredients">
              Аттестация технологии сварки
            </p>
          </div>
          <div class="col-lg-4 col-md-6 menu-item">
            <a href="/static/img/company_doc/antifire.jpg" class="glightbox"><img src="/static/img/company_doc/antifire_min.jpg" class="menu-img img-fluid" alt="Лицензия МЧС на монтаж, техническое обслуживание и ремонт средств обеспечения пожарной безопасности зданий и сооружений"></a>
            <p class="ingredients">
              Лицензия МЧС на монтаж, техническое обслуживание и ремонт средств обеспечения пожарной безопасности зданий и сооружений
            </p>
          </div>
          <div class="col-lg-4 col-md-6 menu-item">
            <a href="/static/img/company_doc/quality_certificate.jpg" class="glightbox"><img src="/static/img/company_doc/quality_certificate_min.jpg" class="menu-img img-fluid" alt="Сертифкат соответствия. Конденсаторные установки"></a>
            <p class="ingredients">
              Сертифкат соответствия. Конденсаторные установки
            </p>
          </div>
        </div>
      </div>
</div>

{% endblock %}