{% extends "layout.html" %}


{% block bodymain %}

<div class="container-flex mx-md-5 my-4 p-3 bg-white shadow">
    <div class="row">
        <div class="col-md-6 col-sm-12">

          <h2>Общество с ограниченной ответственностью <strong>«ЭНЕРГОгрупп»</strong></h2>
          <div class="line mb-4"></div>
            <ul class="list-group list-group-flush mb-4">
              <li class="list-group-item"><strong>Директор:</strong> Безвершенко Василий Сергеевич</li>
              <li class="list-group-item"><strong>Свидетельство ЕГРЮЛ:</strong> 59 № 004360320 от 01.06.2012</li>
              <li class="list-group-item"><strong>ИНН:</strong> 5902889059</li>
              <li class="list-group-item"><strong>КПП:</strong> 590401001</li>
              <li class="list-group-item"><strong>ОГРН:</strong> 1125902003831</li>
              <li class="list-group-item"><strong>Юридический адрес:</strong> РФ, 614010, г. Пермь, ул. Героев Хасана, 7А, оф. 522</li>
              <li class="list-group-item"><strong>Почтовый адрес:</strong> РФ, 614010, г. Пермь, ул. Героев Хасана, 7А, оф. 522</li>
            </ul>
            <p class="px-3">
              Телефон: <a href="tel:+73422008505">+7 (342) 200-85-05</a><br>
              Сотовый Телефон: <a href="tel:+79128897709">+7 912-88-97-709</a><br>
              Электронная почта: <a href="mailto:office@eg59.ru">office@eg59.ru</a> <br>
              Карточка предприятия: <a href="/static/doc/contacts.docx" title="Скачать файл (docx; 14 KB)" class="filemanager"> Скачать <em>(docx)</em></a>
            </p>
          <h2 class="h5 mt-5">Банковские реквизиты:</strong></h2>        
        <ul>
            <li><strong>Номер счета:</strong> 40702810223000034148</li>
            <li>ПОВОЛЖСКИЙ ФИЛИАЛ АО "РАЙФФАЙЗЕНБАНК" Г. НИЖНИЙ НОВГОРОД </li>
            <li><strong>БИК:</strong> 042202847</li>
            <li><strong>Корр. cчет.:</strong> 30101810300000000847</li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 text-center">
          <img src="/static/img/contacts.jpg" alt="Энерго групп контакты" class="img-fluid img-thumbnail" style="max-height: 800px;">
        </div>

    </div>
</div>

{% endblock %}