{% extends "layout.html" %}


{% block bodymain %}


<div class="container-fluid p-0">
  
    <div id="carouselCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
          {% for solutions in solution_menu %}  
              <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="{{ solutions.priorities|string }}" aria-label="{{ 'Slide' + solutions.priorities|string }}"></button>
          {% endfor %}
          <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">    
          <a href="{{ url_for('index') }}">
            
            <div class="carousel-item active" data-bs-interval="3000">
              <img src="/static/img/bg_index.png" class="d-block w-100" alt="...">
              <div class="carousel-caption">
                <h1><strong>ЭНЕРГО<span>групп</span></strong><br> Энергия в руках профессионалов</h1>
                <p class="d-none d-md-block">Комплексное сервисное обслуживание, монтаж, наладка и проектирование электротехнического оборудования промышленных предприятий и объектов электроэнергетики по всей России.</p>
              </div>
            </div>

          </a>
        
        {% for solutions in solution_menu %}
          <a href="{{ url_for(solutions.url) }}" target="_blank">
              <div class="carousel-item" data-bs-interval="3000">
            {% for content in solutions['solution'] %}
              <img src=" {{ content.photo }} " class="d-block w-100" alt="...">
              <div class="carousel-caption">
                <h1>{{ content.title }}</h1>
                <h2 class="d-none d-md-block">{{ content.short_discription }}</h2>
              </div>
            {% endfor %}
        </div>
        </a>
        {% endfor %}

        <a href="" target="_blank">
          <div class="carousel-item" data-bs-interval="3000">
          <img src="/static/img/expert_carusel.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1>Электротехническая экспертиза</h1>
            <h2 class="d-none d-md-block">Проведение судебных и досудебных экспертиз</h2>
          </div>
        </div>
        </a>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>

</div>


<div class="container-flex mx-md-5 about mt-4 p-3 bg-white shadow">
  <h2>Группа компаний ЭНЕРГОgroup</h2>
  <div class="row content">
    <div class="col-lg-3">
      <img src="/static/img/about_company.jpg" class="img-fluid" alt="ЭНЕРГОгрупп О компании">
    </div>
    <div class="col-lg-9 pt-4 pt-lg-0">
      <p>
        Многолетний и разностороний опыт работы позволил группе компаний ЭНЕРГОгрупп заслужить статус надежного и дисциплинированного партнера. Нашими клиентами являются крупные промышленные компании и электрогенерации.
      </p>
      <p>
        Фундаментальные знания, навыки и наличие материально-технических ресурсов позволяют нам выполнять проекты любого масштаба и сложности. Выполняя свою работу, мы делаем ставку на результат и добиваемся значительного увеличения ресурсов и улучшения технико-экономичеких показателей работы электротехнического оборудования.
      </p>
      <p>
        Благодаря тесному взаимодействию на всех этапах работы, мы выстраиваем тесные и прозрачные отношения с заказчиком. Доверяя нам, Вы передаете проект в руки надежных и компетентных специалистов.
      </p>
      <ul>
        <li class="fw-bold"><i class="bi bi-activity"></i> "ЭНЕРГОгрупп"- Энергия в руках профессионалов!</li>
      </ul>
    </div>
  </div>
</div>


<div class="container-flex mx-md-5 mt-4 p-3 bg-white shadow">
  <h2>Наши Услуги</h2>
  <p>
    Группа компаний «ЭНЕРГО group» - команда профессионалов, которая предоставляет следующие виды работ электротехнического профиля для крупных промышленных предприятий:
  </p>

  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 py-5">
    <div class="col d-flex align-items-start">
      <img src="/static/img/services_icon/design.png" class='bg1 me-2 border2' alt="Проектирование">
      <div>
        <h4 class="fw-bold mb-0">Проектирование</h4>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="/static/img/services_icon/delivery.png" class='bg1 me-2 border2' alt="Поставка оборудования">
      <div>
        <h4 class="fw-bold mb-0">Поставка оборудования</h4>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="/static/img/services_icon/installation.png" class='bg1 me-2 border2' alt="Монтажные работы">
      <div>
        <h4 class="fw-bold mb-0">Монтажные работы</h4>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="/static/img/services_icon/repair.png" class='bg1 me-2 border2' alt="Техническое обслуживание, плановый и аварийный ремонт">
      <div>
        <h4 class="fw-bold mb-0">Техническое обслуживание, плановый и аварийный ремонт</h4>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="/static/img/services_icon/checkup.png" class='bg1 me-2 border2' alt="Обследование и диагностика технического состояния">
      <div>
        <h4 class="fw-bold mb-0">Обследование и диагностика технического состояния</h4>
      </div>
    </div>
  
  </div>
</div>


<div class="container-flex mx-md-5 mt-4 p-3 bg-white shadow">       
            <h2>Документы и Лицензии</h2>
            <div class="tab-pane fade active show">  
                <div class="row gy-5 text-center">
                  <div class="col-lg-4 col-md-6 menu-item">
                    <a href="/static/img/company_doc/company_card.jpg" class="glightbox"><img src="/static/img/company_doc/company_card_min.jpg" class="menu-img img-fluid" alt="Карточка предприятия ЭнергГРУПП"></a>
                    <p class="ingredients">
                      Карточка предприятия
                      <a href="/static/doc/contacts.pdf" title="Карточка предприятия ЭнергГРУПП" class="filemanager"> Скачать <em>(pdf)</em></a>
                    </p>                    
                  </div>
                  <div class="col-lg-4 col-md-6 menu-item">
                    <a href="/static/img/company_doc/laboratory_certificate.jpg" class="glightbox"><img src="/static/img/company_doc/laboratory_certificate_min.jpg" class="menu-img img-fluid" alt="Свидетельство о регистрации электролаборатории"></a>
                    <p class="ingredients">
                      Свидетельство о регистрации электролаборатории
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-6 menu-item">
                    <a href="/static/img/company_doc/medicine_certificate.jpg" class="glightbox"><img src="/static/img/company_doc/medicine_certificate_min.jpg" class="menu-img img-fluid" alt="Лицензия на осуществление деятельности по производству и обслуживанию медицинской техники"></a>
                    <p class="ingredients">
                      Лицензия на осуществление деятельности по производству и обслуживанию медицинской техники
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-6 menu-item">
                    <a href="/static/img/company_doc/welding_certificate.jpg" class="glightbox"><img src="/static/img/company_doc/welding_certificate_min.jpg" class="menu-img img-fluid" alt="Аттестация технологии сварки"></a>
                    <p class="ingredients">
                      Аттестация технологии сварки
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-6 menu-item">
                    <a href="/static/img/company_doc/antifire.jpg" class="glightbox"><img src="/static/img/company_doc/antifire_min.jpg" class="menu-img img-fluid" alt="Лицензия МЧС на монтаж, техническое обслуживание и ремонт средств обеспечения пожарной безопасности зданий и сооружений"></a>
                    <p class="ingredients">
                      Лицензия МЧС на монтаж, техническое обслуживание и ремонт средств обеспечения пожарной безопасности зданий и сооружений
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-6 menu-item">
                    <a href="/static/img/company_doc/quality_certificate.jpg" class="glightbox"><img src="/static/img/company_doc/quality_certificate_min.jpg" class="menu-img img-fluid" alt="Сертифкат соответствия. Конденсаторные установки"></a>
                    <p class="ingredients">
                      Сертифкат соответствия. Конденсаторные установки
                    </p>
                  </div>
                </div>
              </div>
</div>


<div class="container-flex clients mx-md-5 mt-4 p-3 bg-white shadow">
  <div class="section-title">
    <h2>Наши партнеры</h2>
  </div>
  <div class="clients-slider swiper">
    <div class="swiper-wrapper align-items-center">
      <div class="swiper-slide"><img src="{{ url_for('static', filename='img/partners/interrao.png') }}" class="img-fluid" alt="ИнтерРАО"></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='img/partners/sibur.png') }}" class="img-fluid" alt="СИБУР"></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='img/partners/unipro.png') }}" class="img-fluid" alt="ЮниПро"></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='img/partners/uralchem.png') }}" class="img-fluid" alt="УралХим"></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='img/partners/uralkali.png') }}" class="img-fluid" alt="УралКалий"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>


<div class="container-flex team mx-md-5 mt-4 p-3 bg-white shadow">
    <h2>Наша команда</h2>
    <p>Квалифицированная команда специалистов, обладающих специальными знаниями и многолетним опытом в области электроэнергетики</p>
  <div class="row gy-4">
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/bezvershenko.jpg" class="img-fluid" alt="Безвершенко">
        <h4>Безвершенко Василий Сергеевич</h4>
        <span>Директор</span>
        <span>доб.номер: 103</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/andreev.jpg" class="img-fluid" alt="Андреев">
        <h4>Андреев Александр Андреевич</h4>
        <span>Исполнительный директор</span>
        <span>доб.номер: 102</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/volskij.jpg" class="img-fluid" alt="Вольский">
        <h4>Вольский Владимир Львович</h4>
        <span>Главный инженер</span>
        <span>доб.номер: 115</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/pyankov.jpg" class="img-fluid" alt="Пьянков">
        <h4>Пьянков Константин Владимирович</h4>
        <span>Зам. главного инженера по РЗиА</span>
        <span>доб.номер: 211</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/nafigina.jpg" class="img-fluid" alt="Нафигина">
        <h4>Нафигина Руфина Аглямовна</h4>
        <span>Коммерческий отдел</span>
        <span>доб.номер: 121</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/antonova.jpg" class="img-fluid" alt="Антонова">
        <h4>Антонова Мария Рифовна</h4>
        <span>Коммерческий отдел</span>
        <span>доб.номер: 111</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/galkin.jpg" class="img-fluid" alt="Галкин">
        <h4>Галкин Евгений Александрович</h4>
        <span>коммерческий отдел</span>
        <span>доб.номер: 112</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/karelina.jpg" class="img-fluid" alt="Карелина">
        <h4>Карелина Варвара Валерьевна</h4>
        <span>Инженер ПТО</span>
        <span>доб.номер: 114</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/ryzhenkova.jpg" class="img-fluid" alt="Рыженкова">
        <h4>Рыженкова Наталья Владимировна</h4>
        <span>Инженер-сметчик</span>
        <span>доб.номер: 109</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 d-flex">
      <div class="member">
        <img src="/static/img/workers/tarasenko.jpg" class="img-fluid" alt="Тарасенко">
        <h4>Тарасенко Марина Сергеевна</h4>
        <span>Менеджер отдела снабжения</span>
        <span>доб.номер: 110</span>
      </div>
    </div>
  </div>
</div>


{% endblock %}


    
