{% extends "layout.html" %}


{% block body %}

<div class="container pt-5">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <a href="/quality" target="_blank">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src=" {{ url_for('static', filename='img/carousel.jpg') }} " class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Качество энергии</h5>
              <p>Качество энергии. СТАТКОМ, ДКИНы, Фильтры гармоник, УКРМ, КРМ, АКУ, КСО</p>
            </div>
          </div>
        </a>
          <div class="carousel-item">
            <img src=" {{ url_for('static', filename='img/carousel.jpg') }} " class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Поставка оборудования</h5>
              <p>Поставка оборудования для промышленных предприятий</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src=" {{ url_for('static', filename='img/carousel.jpg') }} " class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Экспертиза</h5>
              <p>Электротехническая экспертиза, судебная и досудебная</p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>


<div class="container mt-4 py-4 bg-light">
    <div class="row">
        <div class="col">

            <h2>О компании</h2>
            <p>Многолетний и разностороний опыт работы позволил компании ЭНЕРГОгрупп заслужить статус надежного и дисциплинированного партнера. Нашими клиентами являются крупные промышленные компании и электрогенерации.
                Фундаментальные знания, навыки и наличие материально-технических ресурсов позволяют нам выполнять проекты любого масштаба и сложности. Выполняя свою работу, мы делаем ставку на результат и добиваемся значительного увеличения ресурсов и улучшения технико-экономичеких показателей работы электротехнического оборудования.
                Благодаря тесному взаимодействию на всех этапах работы, мы выстраиваем тесные и прозрачные отношения с заказчиком. Доверяя нам, Вы передаете проект в руки надежных и компетентных специалистов.
                
                "ЭНЕРГОгрупп"- Энергия в руках профессионалов!</p>

        </div>
    </div>
</div>


<!-- Сделать блок с пагинацией -->
<div class="container mt-4 py-4 bg-light">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <img src=" {{ url_for('static', filename='img/carousel.jpg') }} " class="d-block w-100" alt="...">

          <div class="card-body">
            <h5>Поставка STATCOM</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit modi corrupti quaerat libero vel magnam repellendus et, voluptatibus soluta unde?</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src=" {{ url_for('static', filename='img/carousel.jpg') }} " class="d-block w-100" alt="...">

          <div class="card-body">
            <h5>Конденсаторные установки</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit modi corrupti quaerat libero vel magnam repellendus et, voluptatibus soluta unde?</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src=" {{ url_for('static', filename='img/carousel.jpg') }} " class="d-block w-100" alt="...">

          <div class="card-body">
            <h5>Фильтры гармоник</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit modi corrupti quaerat libero vel magnam repellendus et, voluptatibus soluta unde?</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container mt-4 py-4 bg-light">
    <div class="row">
        <div class="col">

            <h2>Документы и Лицензии</h2>
            <p>Многолетний и разностороний опыт работы позволил компании ЭНЕРГОгрупп заслужить статус надежного и дисциплинированного партнера. Нашими клиентами являются крупные промышленные компании и электрогенерации.
                Фундаментальные знания, навыки и наличие материально-технических ресурсов позволяют нам выполнять проекты любого масштаба и сложности. Выполняя свою работу, мы делаем ставку на результат и добиваемся значительного увеличения ресурсов и улучшения технико-экономичеких показателей работы электротехнического оборудования.
                Благодаря тесному взаимодействию на всех этапах работы, мы выстраиваем тесные и прозрачные отношения с заказчиком. Доверяя нам, Вы передаете проект в руки надежных и компетентных специалистов.
                
                "ЭНЕРГОгрупп"- Энергия в руках профессионалов!</p>

        </div>
    </div>
</div>


<section id="clients" class="clients mt-4 py-4 bg-light">
  <div class="container">
    <div class="section-title">
      <h2>Наши партнеры</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>


{% endblock %}



<!-- Footer -->

<!-- Footer -->


    
