{% extends "layout.html" %}



{% block header %}
{% endblock %}


{% block bodymain %}
<section id="about" class="about py-3">
    <div class="container bg-white">

      <div class="section-title">
        <h2>Замена проходных изоляторов</h2>
      </div>

      <div class="row content">
        <div class="col-lg-3">
          <img src="/static/img/objects/01-01.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-9 pt-4 pt-lg-0">
          <p>
            Виды работ:
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> Предпроектное обследование</li>
            <li><i class="bi bi-check2-all"></i> Разработка рабочей документации</li>
            <li><i class="bi bi-check2-all"></i> Постороение строений</li>
            <li><i class="bi bi-check2-all"></i> Возведение заведений</li>
            <li><i class="bi bi-check2-all"></i> Снятие напряжений</li>
          </ul>
        </div>
    </div>

    </div>
  </section>


  <section id="recent-photos" class="recent-photos py-3">
    <div class="container">

      <div class="recent-photos-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a href="/static/img/logo.png" class="glightbox"><img src="/static/img/logo.png" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/static/img/logo.png" class="glightbox"><img src="/static/img/logo.png" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/static/img/logo.png" class="glightbox"><img src="/static/img/logo.png" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/static/img/logo.png" class="glightbox"><img src="/static/img/logo.png" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/static/img/logo.png" class="glightbox"><img src="/static/img/logo.png" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/static/img/logo.png" class="glightbox"><img src="/static/img/logo.png" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/static/img/logo.png" class="glightbox"><img src="/static/img/logo.png" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/static/img/logo.png" class="glightbox"><img src="/static/img/logo.png" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>

  

{% endblock %}

{% block footer %}
{% endblock %}