{% extends "layout.html" %}

{% block header %}

{{ super() }}


    <ul class="nav">
        <li class="nav-item border border-primary">
            <a class="nav-link active" aria-current="page" href="#">Качество энергии</a>
        </li>
        <li class="nav-item border border-primary">
            <a class="nav-link active" aria-current="page" href="#">ТКИНЫ</a>
        </li>
        <li class="nav-item border border-primary">
            <a class="nav-link active" aria-current="page" href="#">Статком</a>
        </li>
        <li class="nav-item border border-primary">
            <a class="nav-link active" aria-current="page" href="#">УКРМ</a>
        </li>
        <li class="nav-item border border-primary">
            <a class="nav-link active" aria-current="page" href="#">ТКИНЫ</a>
        </li>
        <li class="nav-item border border-primary">
            <a class="nav-link active" aria-current="page" href="#">Компенсация реактивной мощности</a>
        </li>
    </ul>



{% endblock %}


{% block body %}
{% endblock %}