<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename='css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" rel="stylesheet">

        
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    
    
      <title>{{ seo.title }}</title>
      <meta name="description" content="{{ seo.discription }}"/>

</head>


<body class="bg-light">

  <header>
    
    {% block header %}
    <section id="topbar" class="topbar d-flex align-items-center justify-content-md-between justify-content-center px-md-3 px-0">
      <div class="contact-info align-items-start d-md-flex d-none p-1">
        <a class="navbar-brand" href="{{ url_for('index') }}"><h2>ЭНЕРГОgroup</h2></a>
      </div>
      <div class="container-flex d-flex">
        <div class="contact-info d-flex">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:office@eg59.ru">office@eg59.ru</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span><a href="tel:+73422008505">+7 (342) 200-85-05</a></span></i>
        </div>
      </div>
    </section>
    
                <nav class="navbar navbar-main navbar-expand-md d-flex align-items-center bg-white shadow py-0"> 
                    <a class="navbar-brand mx-2" href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='img/logo_main.png') }}" alt="logo.png" style="max-height: 60px">
                    </a>
                    <button type="button" class="btn btn-info shadow ms-auto m-2 d-sm-flex d-md-none" data-bs-toggle="modal" data-bs-target="#modal">Оставить заявку</button>
                    <button class="navbar-toggler m-2 shadow" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-lg-0">
    
                            {% for item in menu %} 
                              {% if item.button_type == 'dropmenu'%}
                                  <li class="nav-item dropdown">    
                                      <a class="nav-link dropdown-toggle active" href="{{ item.url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          {{ item.title }}
                                      </a>
                                      <ul class="dropdown-menu">
                                          {% for drop in item[item.url_name] %}
                                            <li><a class="dropdown-item" href={{ url_for(drop.url, product=drop.url_name) }}> {{ drop.title }} </a></li>
                                          {% endfor %}
                                          {% if item.url == 'solutions' %}
                                          <li>
                                            <a class="dropdown-item" href="https://eg-expert.ru/" target="_blank">Электротехническая экспертиза</a>
                                          </li>
                                          {% endif %}
                                      </ul>    
                                  </li>
                              {% else %}
                                  <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" href="{{ url_for(item.url) }}">{{ item.title }}</a>
                                  </li>
                              {% endif %}
                            {% endfor -%}
                        </ul>
                    </div>
                    <button type="button" class="btn btn-info shadow ms-auto mx-3 d-md-flex d-none align-items-center" data-bs-toggle="modal" data-bs-target="#modal">Оставить заявку</button>
                </nav>
                
                {% for category, msg in get_flashed_messages(True) %}
                <div class="alert alert-{{category}} alert-dismissible fade show text-center m-0" role="alert">
                  <button type="button" class="btn-close text-end" data-bs-dismiss="alert" aria-label="Close"></button>
                  {{ msg }}
                </div>
                {% endfor %}
    {% endblock %}
    
      
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bgg1 text-white">
          <div class="modal-header">
            <h5 class="modal-title" id="Modal">Оставьте заявку и мы с вами свяжемся</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <form action="{{ url_for('email') }}" method="post">
                    <div class="mb-3">
                      <label for="InputName1" class="form-label">Имя контактного лица</label>
                      <input type="text" name="name" class="form-control" id="InputName1" placeholder="Имя">
                    </div>
    
                    <div class="mb-3">
                      <label for="InputPhone1" class="form-label">Номер телефона</label>
                      <input type="text" name="phone" class="form-control" id="InputPhone1"
                        placeholder="Телефон с кодом города">
                    </div>
    
                    <div class="mb-3">
                      <label for="InputEmail1" class="form-label">Адрес электронной почты</label>
                      <input type="email" name="email" class="form-control" id="InputEmail1"
                        placeholder="example@email.ru">
                    </div>
    
                    <div class="mb-3">
                      <label for="InputTextarea1" class="form-label">Обращение</label>
                      <textarea class="form-control" name="text" id="InputTextarea1" rows="3"
                        placeholder="Текст заявки"></textarea>
                    </div>
    
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="checkboxHeader" name="checkbox" checked
                        required>
                      <label class="form-check-label small" for="checkboxHeader">Принимаю условия «Политики конфиденциальности»</label>
                    </div>
    
                    <button type="submit" name="submit" id="submitHeader" class="btn btn-primary">Отправить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </header>


    {% block bodynav %}
    {% endblock %}

    {% block bodymain %}
    {% endblock %}



<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>



<script>
// It's in 'objects' preview
        var lightboxInlineIframe = GLightbox({
            selector: '.glightbox4'
        });
</script>

</body>

{% block footer %}
<div class="container-fluid px-0 pt-2 mt-4 bg-white">
<footer class="text-center text-lg-start text-muted mt-4">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="{{ url_for('static', filename='img/logo_main.png') }}" alt="ЭнергоГрупп логотип" style="max-height: 30px"> "ЭНЕРГО Групп"
            </h6>
            <p>Энергия в руках профессионалов!</p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Направления
            </h6>
            <p><a href="{{ url_for('quality.index') }}" class="text-reset">Качество энергии</a></p>
            <p><a href="{{ url_for('bushing.index') }}" class="text-reset">Высоковольтные Вводы</a></p>
            <p><a href="https://eg-expert.ru" class="text-reset" target="_blank">Экcпертиза</a></p>
          </div>        
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Ссылки
            </h6>
            <p><a href="{{ url_for('index') }}" class="text-reset">О Компании</a></p>
            <p class="text-reset"><a href="#modal" data-bs-toggle="modal" data-bs-target="#modal" class="text-reset">Оставить заявку</a></p>
            <p><a href="/static/doc/contacts.docx" class="text-reset">Карточка предприятия</a></p>
            <p><a href="#" class="text-reset">Политика конфиденциальности</a></p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
            <p><i class="bi bi-building"></i> г.Пермь, ул. Героев Хасана, 7 А, Россия</p>
            <p>
              <i class="bi bi-envelope-fill"></i>
                office@eg59.ru
            </p>
            <p><i class="bi bi-telephone-inbound-fill"></i> +7 (342) 200-85-05</p>
          </div>
        </div>
      </div>
    <div class="text-center p-4 bg2 text-white">
      © 2022 Copyright:
      Общество с ограниченной ответственностью «ЭНЕРГОгрупп»
    </div>
</footer>
</div>
{% endblock %}
</html>