{% extends "layout.html" %}



{% block header %}
{% endblock %}


{% block bodymain %}
<section id="about" class="about py-3">
    <div class="container">
      
      {% for content in object_content %}
      {% if content.id == object %}
      
      <div class="section-title">
        <h2>{{ content.title }}</h2>
      </div>

      <div class="row content">
        <div class="col-lg-3">
          <img src="/static/img/objects/{{ '0' + object|string + '-0.jpg' }}" class="img-fluid" alt="">
        </div>


        <div class="col-lg-9 p-5">
          <h3><strong>
            Выполненные работы:
          </strong></h3>
            {{ content.content|safe }}
        </div>

        <section id="recent-photos" class="recent-photos py-2">
          <div class="container">
            <div class="recent-photos-slider swiper">
              <div class="swiper-wrapper align-items-center">
              
                  {% for photo in range(content.note|int) %}
                  <div class="swiper-slide"><a href="/static/img/objects/{{ '0' + content.id|string + '-' + photo|string + '.jpg' }}" class="glightbox"><img src="/static/img/objects/{{ '0' + content.id|string + '-' + photo|string + '.jpg' }}" class="img-fluid" alt="Работы ЭнергоГрупп"></a></div>
                  {% endfor %}
                
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </section>

    </div>
    {% endif %}
    {% endfor %}
    </div>
  </section>

  

{% endblock %}

{% block footer %}
{% endblock %}