<!DOCTYPE html>
<html lang="ru">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename='css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" rel="stylesheet">

        
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    
    {% for s in seo %}
      {% if s.note == url_name %}
      <title>{{ s.title }}</title>
      <meta name="description" content="{{ s.discription }}"/>
      {% endif %}
    {% endfor %}

</head>

<header>

    
{% block header %}
            <nav class="navbar navbar-expand-md align-items-center bg-white"> 
                <a class="navbar-brand m-1" href="{{ url_for('.index') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo.png" style="max-height: 40px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0">

                        {% for item in menu %} 
                          {% if item.button_type == 'dropmenu'%}
                              <li class="nav-item dropdown">    
                                  <a class="nav-link dropdown-toggle" href="{{ item.url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      {{ item.title }}
                                  </a>
                                  <ul class="dropdown-menu">
                                      {% for drop in item[item.url_name] %}
                                        <li><a class="dropdown-item" href={{ url_for(drop.url, product=drop.url_name) }}> {{ drop.title }} </a></li>
                                      {% endfor %}
                                  </ul>    
                              </li>
                          {% else %}
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="{{ url_for(item.url) }}">{{ item.title }}</a>
                              </li>
                          {% endif %}
                        {% endfor -%}
                        <li class="nav-item">
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Оставить заявку</button>
                      </li>
                    </ul>

                </div>
            </nav>
{% endblock %}



<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal">Оставьте заявку на экспертизу и мы с вами свяжемся</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form action="#" method="post">
                <div class="mb-3">
                  <label for="InputName1" class="form-label">Имя контактного лица</label>
                  <input type="text" name="name" class="form-control" id="InputName1" placeholder="Имя">
                </div>

                <div class="mb-3">
                  <label for="InputPhone1" class="form-label">Номер телефона</label>
                  <input type="text" name="phone" class="form-control" id="InputPhone1"
                    placeholder="Телефон с кодом города">
                </div>

                <div class="mb-3">
                  <label for="InputEmail1" class="form-label">Адрес электронной почты</label>
                  <input type="email" name="email" class="form-control" id="InputEmail1"
                    placeholder="example@email.ru">
                </div>

                <div class="mb-3">
                  <label for="InputTextarea1" class="form-label">Обращение</label>
                  <textarea class="form-control" name="text" id="InputTextarea1" rows="3"
                    placeholder="Текст заявки"></textarea>
                </div>

                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="checkboxHeader" name="checkbox" checked
                    required>
                  <label class="form-check-label small" for="checkboxHeader">Принимаю условия «Политики конфиденциальности»</label>
                </div>

                <button type="submit" name="submit" id="submitHeader" class="btn btn-primary">Отправить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</header>


<body class="bg-light">

    {% block bodynav %}
    {% endblock %}

    {% block bodymain %}
    {% endblock %}



<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>



<script>


        var lightboxInlineIframe = GLightbox({
            selector: '.glightbox4'
        });
</script>

</body>

{% block footer %}
<div class="container-fluid px-0 bg-white">
<footer class="text-center text-lg-start text-muted mt-4">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Наши социальные сети и мессенджеры:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>"ЭНЕРГО Групп"
            </h6>
            <p>
              Энегия в руках профессионалов
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Направления
            </h6>
            <p>
              <a href="#!" class="text-reset">Качество энергии</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Электротехническая экспертиза</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Монтажные работы</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Поставка оборудования</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Ссылки
            </h6>
            <p>
              <a href="#!" class="text-reset">О Компании</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Оставить заявку</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Наши услуги</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Продукция</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
            <p><i class="fas fa-home me-3"></i> г.Пермь, ул. Героеы Хасана, 7 А, Россия</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              expert@eg59.ru
            </p>
            <p><i class="fas fa-phone me-3"></i> +7 (342) 200-85-05</p>
            <p><i class="fas fa-print me-3"></i> +7 912-88-97-709</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      Общество с ограниченной ответственностью «ЭНЕРГОгрупп»
    </div>
    <!-- Copyright -->
</footer>
</div>
{% endblock %}
</html>