{% extends "layout_line.html" %}


{% block header %}

{{ super() }}

{% endblock %}


{% block bodynav %}

{{ super() }}

{% endblock %}

{% block bodymain %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  {% for menu in product_menu %}
    
    {% if product.button_type == 'single' %}
      
      {% for product in menu['product'] %}
        {% if product.url == name %}
          {{ product.index_content|safe }}
        {% endif %}
      {% endfor %}

    {% elif product.button_type == 'dropmenu' %}
    {% endif %}

  {% endfor %}
  
</main>

{{ super() }}
{% endblock %}