{% extends "layout_line.html" %}


{% block header %}

{{ super() }}

{% endblock %}


{% block bodynav %}

{{ super() }}

{% endblock %}

{% block bodymain %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  {% for menu in product_menu %}
    
    {% if menu.button_type == 'single' or single_product %}
      
      {% for product in menu['product'] %}
        {% if product.url == url_name %}
          {{ product.index_content|safe }}
        {% endif %}
      {% endfor %}

    {% elif menu.button_type == 'dropmenu' and menu.menu_name == url_name %}
            
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
          {% for product in menu['product'] %}
          <div class="col">
            <div class="card shadow-sm">
              {{ product.photo|safe }}
              <div class="card-body">
                <p class="card-text">{{ product.short_discription }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="button" href="{{ menu.menu_name + '/' + product.url }}">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
        
        
      
    {% endif %}

  {% endfor %}
</main>

{{ super() }}
{% endblock %}