{% extends "layout.html" %}

{% block bodymain %}

<h2>Качество энергии. Поставка, установка и наладка оборудования предназначенного для повышения качества энергии</h2>
            <p>
              Группа компаний Энерго Групп является представителем завода Sanhe Power Tech (Shenzhen) Co., Ltd на территории России. 
              Энерго Групп выполняет следующий спектр услуг направленных на повышение качество электроэнергии электросети:
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Проектирование систем повышения качество электроэнергии и минимизации потерь</li>
              <li><i class="bi bi-check2-all"></i> Компенсация потерь в проводах при передаче на большие расстояния</li>
              <li><i class="bi bi-check2-all"></i> Увеличении коэффициента мощности</li>
              <li><i class="bi bi-check2-all"></i> Уменьшение потерь в линии</li>
              <li><i class="bi bi-check2-all"></i> Экономия энергии</li>
              <li><i class="bi bi-check2-all"></i> Стабилизация напряжения</li>
            </ul>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quas fugit modi. Vitae laborum quia aspernatur 
                accusamus aliquam corporis at excepturi rem voluptas tempora praesentium dolor esse laudantium autem, labore ex voluptatibus 
                earum neque voluptates vel exercitationem in. Adipisci earum dolorem cum harum saepe numquam ab commodi provident eius. 
                Perferendis ab quibusdam iste? Reprehenderit, rerum veniam aliquam provident possimus eum deleniti praesentium, mollitia 
                facere porro dolorem, rem cumque officiis ducimus odit repudiandae facilis. Consequatur, doloribus voluptate. Praesentium 
                incidunt eius nobis nam in nihil. Eligendi incidunt quo eaque debitis doloremque iste quas, fugit harum rem reprehenderit 
                consequuntur possimus adipisci? Mollitia tempora magni nemo aut aliquam, quibusdam, quo alias eligendi nulla ut ullam? 
                Assumenda, ipsa. Dolorem quo quae facere nemo atque ea vel tenetur voluptatem molestiae sed distinctio vero, repellendus in 
                dolores architecto quam eaque. Enim in molestiae, non animi cupiditate, hic aut provident alias doloremque, architecto quidem 
                temporibus aperiam quos nam veritatis earum cum corporis facere dolorum ducimus dolor doloribus. Velit quasi aliquam dolores 
                mollitia repellat hic, ducimus nobis quaerat dignissimos veritatis. Doloremque labore esse itaque earum qui, corrupti repudiandae 
                tempore, aspernatur in assumenda id illum? Doloribus, eligendi totam molestiae ab reiciendis id magni facere aliquam, voluptatibus 
                sequi alias laboriosam sunt, modi quam aperiam earum. Incidunt ullam quo, possimus quam necessitatibus tempore earum, illo provident 
                soluta natus magnam ex blanditiis, vitae deserunt quia. Ipsam laborum rerum, provident dolorem nesciunt sit enim! Officiis pariatur 
                neque temporibus nostrum ducimus tempore quae omnis quod quibusdam necessitatibus, dicta vel a dolore error. Commodi magni ea numquam 
                asperiores, optio at accusantium. Dolorum velit in facere magnam, asperiores numquam a sit fugiat, optio maiores similique minus 
                obcaecati, nisi eaque. Beatae similique quam amet temporibus dolorem optio, neque adipisci aliquid et distinctio, repellat ipsum 
                illo? Quasi error laboriosam ea aut eos et, nesciunt sunt enim maiores rem id, tempore blanditiis provident reprehenderit eaque 
                sapiente recusandae. Laborum debitis exercitationem delectus reiciendis suscipit nostrum quia incidunt, voluptate fugit sit iure 
                reprehenderit ut doloremque quis molestiae quaerat fuga totam alias iusto! Sit, reprehenderit? Dolore sed nemo, vel praesentium 
                vero quibusdam hic nisi officia nostrum unde, odit consequatur explicabo porro? Ex unde ad odio delectus, dolorum laborum ab nemo 
                expedita pariatur. Ratione, eos porro tempora minus optio nam nulla dolorem beatae odio? Vel debitis ex quibusdam repellat suscipit 
                qui placeat perspiciatis repudiandae optio consequuntur delectus magni velit ipsam nulla quaerat, unde et maiores quisquam facilis 
                pariatur rerum? Magnam dolor eius perferendis quam.</p>
            <h2>Особенности</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quas fugit modi. Vitae laborum quia aspernatur 
                accusamus aliquam corporis at excepturi rem voluptas tempora praesentium dolor esse laudantium autem, labore ex voluptatibus 
                earum neque voluptates vel exercitationem in. Adipisci earum dolorem cum harum saepe numquam ab commodi provident eius. 
                Perferendis ab quibusdam iste? Reprehenderit, rerum veniam aliquam provident possimus eum deleniti praesentium, mollitia 
            </p>



<!-- Product layout -->
            <!-- <section id="about" class="about py-3">
              <div class="container">
                <div class="section-title">
                  <h2>Серия HVC Высоковольтное оборудование локальной компенсации реактивной мощности</h2>
                  <p>Высоковольтный локальный компенсатор реактивной мощности серии HVC широко используется в высоковольтном электрооборудовании высокой мощности 
                      в металлургии, горнодобывающей, нефтехимической промышленности, дренаже и других областях. 
                  </p>
                </div>
                <div class="row content">
                  <div class="col-lg-3">
                    <img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-9 pt-4 pt-lg-0">
                    <p>
                      Помогает решить следующие проблемы:
                    </p>
                    <ul>
                      <li><i class="bi bi-check2-all"></i> Компенсация потерь в проводах при передаче на большие расстояния</li>
                      <li><i class="bi bi-check2-all"></i> Увеличении коэффициента мощности</li>
                      <li><i class="bi bi-check2-all"></i> Уменьшение потерь в линии</li>
                      <li><i class="bi bi-check2-all"></i> Экономия энергии</li>
                      <li><i class="bi bi-check2-all"></i> Стабилизация напряжения</li>
                    </ul>
                    <p>
                      Высоковольтный локальный компенсатор реактивной мощности серии HVC 
                      в основном состоит из шунтирующих конденсаторов и оснащен блоками защиты, которые подключены к трехфазной системе распределения 
                      электроэнергии переменного тока частотой 50 или 60 Гц и номинальным напряжением 3-10 кВ и установлены вокруг асинхронного 
                      генератора или индуктивного оборудования.
                    </p>
                    <a href="#" class="btn-learn-more">ОСТАВИТЬ ЗАЯВКУ</a>
                  </div>
                </div>
              </div>
            </section>
            
            <section id="recent-photos" class="recent-photos py-3">
                  <div class="container">
            
                    <div class="recent-photos-slider swiper">
                      <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><a href="/quality/static/img/product_HVC.jpg" class="glightbox"><img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a href="/quality/static/img/product_HVC.jpg" class="glightbox"><img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a href="/quality/static/img/product_HVC.jpg" class="glightbox"><img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a href="/quality/static/img/product_HVC.jpg" class="glightbox"><img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a href="/quality/static/img/product_HVC.jpg" class="glightbox"><img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a href="/quality/static/img/product_HVC.jpg" class="glightbox"><img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a href="/quality/static/img/product_HVC.jpg" class="glightbox"><img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a href="/quality/static/img/product_HVC.jpg" class="glightbox"><img src="/quality/static/img/product_HVC.jpg" class="img-fluid" alt=""></a></div>
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>
            
                  </div>
            </section>
            
            <section id="features" class="features section-bg pt-4">
              <div class="container-fluid" data-aos="fade-up">
                <ul class="nav nav-tabs row  g-2 d-flex">
                  <li class="nav-item col-3">
                    <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                      <h4>Описание</h4>
                    </a>
                  </li>
                  <li class="nav-item col-3">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                      <h4>Документация</h4>
                    </a>
                  <li class="nav-item col-3">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                      <h4>Функции</h4>
                    </a>
                  </li>
                  <li class="nav-item col-3">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                      <h4>Опросный лист</h4>
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                      <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <h3>Voluptatem dignissimos provident</h3>
                        <p class="fst-italic">
                          Высоковольтный локальный компенсатор реактивной мощности серии HVC широко используется в высоковольтном электрооборудовании высокой мощности 
                          в металлургии, горнодобывающей, нефтехимической промышленности, дренаже и других областях. 
                          Высоковольтный локальный компенсатор реактивной мощности серии HVC 
                          в основном состоит из шунтирующих конденсаторов и оснащен блоками защиты, которые подключены к трехфазной системе распределения 
                          электроэнергии переменного тока частотой 50 или 60 Гц и номинальным напряжением 3-10 кВ и установлены вокруг асинхронного 
                          генератора или индуктивного оборудования.
                        </p>
                        <ul>
                          <li><i class="bi bi-check2-all"></i> Компенсация потерь в проводах при передаче на большие расстояния</li>
                          <li><i class="bi bi-check2-all"></i> Увеличении коэффициента мощности</li>
                          <li><i class="bi bi-check2-all"></i> Уменьшение потерь в линии</li>
                          <li><i class="bi bi-check2-all"></i> Экономия энергии</li>
                          <li><i class="bi bi-check2-all"></i> Стабилизация напряжения</li>
                        </ul>
                      </div>
                      <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="/quality/static/img/product_HVC.jpg " alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-2">
                    <div class="row">
                      <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                        <h3>Neque exercitationem debitis</h3>
                        <p class="fst-italic">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                          magna aliqua.
                        </p>
                        <ul>
                          <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                          <li><i class="bi bi-check2-all"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                          <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                      </div>
                      <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="/quality/static/img/product_HVC.jpg " alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-3">
                    <div class="row">
                      <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                        <h3>Voluptatibus commodi accusamu</h3>
                        <ul>
                          <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                          <li><i class="bi bi-check2-all"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                        </ul>
                        <p class="fst-italic">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                          magna aliqua.
                        </p>
                      </div>
                      <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="/quality/static/img/product_HVC.jpg" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-4">
                    <div class="row">
                      <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                        <h3>Omnis fugiat ea explicabo sunt</h3>
                        <p class="fst-italic">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                          magna aliqua.
                        </p>
                        <ul>
                          <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                          <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                          <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                      </div>
                      <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="/quality/static/img/product_HVC.jpg" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section> -->



{% endblock %}