{% extends "layout_line.html" %}


{% block body %}

{{ super() }}

<div class="container mt-4 p-4 bg-white">
    <div class="row">
        <div class="col">
            <h2>Качество энергии</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quas fugit modi. Vitae laborum quia aspernatur 
                accusamus aliquam corporis at excepturi rem voluptas tempora praesentium dolor esse laudantium autem, labore ex voluptatibus 
                earum neque voluptates vel exercitationem in. Adipisci earum dolorem cum harum saepe numquam ab commodi provident eius. 
                Perferendis ab quibusdam iste? Reprehenderit, rerum veniam aliquam provident possimus eum deleniti praesentium, mollitia 
                facere porro dolorem, rem cumque officiis ducimus odit repudiandae facilis. Consequatur, doloribus voluptate. Praesentium 
                incidunt eius nobis nam in nihil. Eligendi incidunt quo eaque debitis doloremque iste quas, fugit harum rem reprehenderit 
                consequuntur possimus adipisci? Mollitia tempora magni nemo aut aliquam, quibusdam, quo alias eligendi nulla ut ullam? 
                Assumenda, ipsa. Dolorem quo quae facere nemo atque ea vel tenetur voluptatem molestiae sed distinctio vero, repellendus in 
                dolores architecto quam eaque. Enim in molestiae, non animi cupiditate, hic aut provident alias doloremque, architecto quidem 
                temporibus aperiam quos nam veritatis earum cum corporis facere dolorum ducimus dolor doloribus. Velit quasi aliquam dolores 
                mollitia repellat hic, ducimus nobis quaerat dignissimos veritatis. Doloremque labore esse itaque earum qui, corrupti repudiandae 
                tempore, aspernatur in assumenda id illum? Doloribus, eligendi totam molestiae ab reiciendis id magni facere aliquam, voluptatibus 
                sequi alias laboriosam sunt, modi quam aperiam earum. Incidunt ullam quo, possimus quam necessitatibus tempore earum, illo provident 
                soluta natus magnam ex blanditiis, vitae deserunt quia. Ipsam laborum rerum, provident dolorem nesciunt sit enim! Officiis pariatur 
                neque temporibus nostrum ducimus tempore quae omnis quod quibusdam necessitatibus, dicta vel a dolore error. Commodi magni ea numquam 
                asperiores, optio at accusantium. Dolorum velit in facere magnam, asperiores numquam a sit fugiat, optio maiores similique minus 
                obcaecati, nisi eaque. Beatae similique quam amet temporibus dolorem optio, neque adipisci aliquid et distinctio, repellat ipsum 
                illo? Quasi error laboriosam ea aut eos et, nesciunt sunt enim maiores rem id, tempore blanditiis provident reprehenderit eaque 
                sapiente recusandae. Laborum debitis exercitationem delectus reiciendis suscipit nostrum quia incidunt, voluptate fugit sit iure 
                reprehenderit ut doloremque quis molestiae quaerat fuga totam alias iusto! Sit, reprehenderit? Dolore sed nemo, vel praesentium 
                vero quibusdam hic nisi officia nostrum unde, odit consequatur explicabo porro? Ex unde ad odio delectus, dolorum laborum ab nemo 
                expedita pariatur. Ratione, eos porro tempora minus optio nam nulla dolorem beatae odio? Vel debitis ex quibusdam repellat suscipit 
                qui placeat perspiciatis repudiandae optio consequuntur delectus magni velit ipsam nulla quaerat, unde et maiores quisquam facilis 
                pariatur rerum? Magnam dolor eius perferendis quam.</p>
        </div>
    </div>
</div>

<div class="container mt-4 p-4 bg-white">
    <div class="row">
        <div class="col">
            <h2>Особенности</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quas fugit modi. Vitae laborum quia aspernatur 
                accusamus aliquam corporis at excepturi rem voluptas tempora praesentium dolor esse laudantium autem, labore ex voluptatibus 
                earum neque voluptates vel exercitationem in. Adipisci earum dolorem cum harum saepe numquam ab commodi provident eius. 
                Perferendis ab quibusdam iste? Reprehenderit, rerum veniam aliquam provident possimus eum deleniti praesentium, mollitia 
            </p>
        </div>
    </div>
</div>


{% endblock %}